/* Estilos */
body {
  background-color: #fc5b5b; /* color de fondo */
  color: rgb(0, 0, 0); /* color del texto */
  font-size: 20px; /* tamaño de fuente */
  font-family: Arial, Helvetica, sans-serif; /* tipo de fuente */
}
.titulo {
  color: rgb(0, 0, 0); /* color del texto */
  text-align: lefth; /* alinea el texto al centro */
  padding: 20px; /* espacio alrededor del título */
  font-size: 30px; /* tamaño de fuente del título */
  text-decoration: underline;
}
.cabecera {
  background-color: #680101; /* color de fondo de la cabecera */
  color: rgb(0, 0, 0); /* color del texto */
  display: flex; /* para alinear los elementos */
  justify-content: space-between; /* espacio entre los elementos */
  padding: 20px; /* espacio alrededor de la cabecera */
  align-items: center; /* alinea los elementos verticalmente */
  gap: 20px; /* espacio entre los elementos */
}
.logo {
  display: flex; /* para alinear el logo */
  padding: 10px; /* espacio alrededor del logo */
  image-orientation: left; /* alinea la imagen a la izquierda */
  width: 100px; /* ancho del logo */
  height: 100px; /* alto del logo */
}
.login {
  background-color: #680101;
  color: rgb(0, 0, 0);
  text-align: right; /* alinea el texto a la derecha */
  text-decoration: none; /* quita el subrayado */
  padding: 10px; /* espacio alrededor del texto */
}
.navegacion {
  display: flex; /* pone los elementos en fila */
  justify-content: center; /* los centra horizontalmente */
  gap: 20px; /* espacio entre los links */
  padding: 20px; /* espacio alrededor de la barra de navegación */
}
.navegacion a {
  text-decoration: none;
  color: rgb(14, 13, 13);
  padding: 10px 15px;
  font-size: 16px;
  text-decoration: underline; /* subraya el texto */
}
.busqueda {
  display: flex;
  justify-content: right;
  color: rgb(0, 0, 0);
}
.imagenes {
  display: flex; /* para alinear las imágenes */
  justify-content: center; /* las centra horizontalmente */
  gap: 20px; /* espacio entre las imágenes */
  padding: 20px; /* espacio alrededor de la sección */
  text-align: left;
}
.breve-resumen {
  color: rgb(0, 0, 0); /* color del texto */
  display: flex; /* para alinear los elementos */
  justify-content: center; /* los centra horizontalmente */
  gap: 20px; /* espacio entre los elementos */
  padding: 20px; /* espacio alrededor de la sección */
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  background-color: #3a3a3a; /* color de fondo del pie de página */
  color: rgb(0, 0, 0); /* color del texto */
  display: flex; /* para alinear los elementos */
}
.pie-pagina {
  color: rgb(0, 0, 0); /* color del texto */
  display: flex; /* para alinear los elementos */
  padding: 20px;
  justify-content: space-between; /* espacio entre los elementos */
  align-items: center; /* alinea los elementos verticalmente */
  gap: 20px; /* espacio entre los elementos */
}
.copyright {
  display: flex; /* para alinear el texto */
  justify-content: center; /* lo centra horizontalmente */
  color: rgb(0, 0, 0); /* color del texto */
  text-align: left; /* alinea el texto a la izquierda */
  padding: 50px; /* espacio alrededor del texto */
}
.terminos a {
  display: flex; /* para alinear los enlaces */
  justify-content: center; /* los centra horizontalmente */
  color: rgb(0, 0, 0); /* color del texto */
  text-align: center; /* alinea el texto al centro */
  text-decoration: underline; /* subraya el texto */
  padding: 50px; /* espacio alrededor del texto */
}
.redes-sociales a {
  display: flex; /* para alinear los iconos */
  justify-content: center; /* los centra horizontalmente */
  color: rgb(0, 0, 0); /* color del texto */
  text-decoration: none; /* quita el subrayado */
  font-size: 24px; /* tamaño de los iconos */
  padding: 10px; /* espacio alrededor de los iconos */
  font-family: Arial, Helvetica, sans-serif; /* tipo de fuente de los iconos */
  font-weight: bold; /* negrita */
  text-align: center; /* alinea el texto al centro */
  display: inline-block; /* para que los enlaces se comporten como bloques */
  gap: 20px; /* espacio entre los iconos */
}
.celulares {
  color: rgb(0, 0, 0);
  display: flex; /* para alinear los elementos */
  justify-content: left; /* los centra horizontalmente */
  gap: 20px; /* espacio entre los elementos */
  padding: 20px; /* espacio alrededor de la sección */
}
.contenido-acerca {
  display: flex;
  color: rgb(0, 0, 0); /* color del texto */
  text-align: left;
  gap: 2rem; /* espacio entre los elementos */
  align-items: stretch; /* estira los elementos para que tengan la misma altura */
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  text-decoration: underline; /* subraya el texto */
}
h2 {
  text-decoration: underline; /* subraya el texto */
}
.publicidad-acerca {
  flex: 0 0 30%; /* ocupa el 30% del ancho del contenedor */
  display: flex; /* para alinear los elementos */
  flex-direction: column; /* pone los elementos en columna */
  justify-content: flex-end; /* alinea los elementos al final */
  align-items: flex-start; /* alinea los elementos al inicio */
  gap: 1rem; /* espacio entre los elementos */
  padding: 1rem; /* espacio alrededor de la sección */
  object-fit: cover; /* ajusta la imagen al contenedor */
  border-radius: 8px; /* bordes redondeados */
}
.productos {
  display: flex;
  flex: 1;
  padding: 1rem;
  background-color: ffff; /* color de fondo del menú de productos */
  max-width: 70%; /* ancho máximo del menú de productos */
}
.formulario-contacto {
  display: flex;
  flex-direction: column; /* pone los elementos en columna */
  gap: 10px; /* espacio entre los elementos */
  padding: 20px; /* espacio alrededor del formulario */
}
.contenido-promociones {
  display: flex;
  color: rgb(0, 0, 0); /* color del texto */
  text-align: left;
  gap: 2rem; /* espacio entre los elementos */
  align-items: stretch; /* estira los elementos para que tengan la misma altura */
  font-family: Arial, Helvetica, sans-serif;
}
